/*Import de la typo*/


/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Ne change pas la taille de la boite si j'ajoute des padding ou des border*/
}

path{
    fill: #e2e8f0;
}

header{
     background-color: transparent;
    position: fixed;
    color:#e2e8f0 ;
    width: 100%;
    transition: background-color 600ms linear;
    padding-left: 32px;
    padding-right: 32px;
    z-index: 1;
}


h1,h2,h3{
    font-family: "Space Grotesk", sans-serif;
}

h4,li,p{
    font-family:"Inter", sans-serif ;
    font-size: 14px;
}


a{
    text-decoration: none;
    color:#e2e8f0 
}

/*-----------
    TEXTE
-------------*/

.decoration-none{
    text-decoration: none; /*Retire la ligne sous les texte*/
}

.titre{
    display: inline-block;
    border-bottom:3px solid #0b0f19;
    padding-bottom: 5px;
}

.list-type-none{
    list-style-type:none; /*Retire les puces des listes*/ 
}

.bold{
    font-weight: 800; /*Met en gras*/
}

.black{
    color: black;
}

.blue{
    color: #0b0f19;
}

.white{
    color: rgb(255, 255, 255);
}

.grey{
    color: #e2e8f0;
}

.ft-size-35{
    font-size: 35px;
}

.ft-size-25{
    font-size: 25px;
}

.ft-family{
    font-family: "Inter", sans-serif;;
}

.text-center{
    text-align: center; /*Centre le texte*/
}

.uppercase{
    text-transform: uppercase; /*mettre en majuscule*/
}

.lowercase{
    text-transform: lowercase; /*mettre en minuscule*/
}


/*-------------------------
    Dimensions/Largeurs
--------------------------*/

.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}



.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-30{
    width: 30%;
}

.w-25{
    width: 25%;
}

.w-20{
    width: 20%;
}


/*Radius*/

.radius-20{
    border-radius: 20px;
}

.radius-right{
    border-radius: 0px 20px 20px 0px;
}

.radius-rond{
    border-radius: 50px;
}


/*--------------
    Flex Box
---------------*/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-nowrap{
    display: flex;
    flex-wrap: nowrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

.gap-128{
    gap: 128px;
}

/*------------------
   Margin & Padding
--------------------*/

.mt-16{
    margin-top: 16px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mt-64{
    margin-top: 64px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-64{
    margin-bottom: 64px;
}

.ml-32{
    margin-left: 32px;
}

.ml-64{
    margin-left: 64px;
}

.mr-32{
    margin-right: 32px;
}

.mt-128{
    margin-top: 128px;
}

.mb-128{
    margin-bottom: 128px;
}


.pt-16{
    padding-top: 16px;
}

.pb-16{
    padding-bottom: 16px;
}

.pt-32{
    padding-top: 32px;
}

.pt-64{
    padding-top: 64px;
}


.pb-64{
    padding-bottom: 64px;
}

.pb-32{
    padding-bottom: 32px;
}

.pl-16{
    padding-left: 16px;
}

.pl-32{
    padding-left: 32px;
}

.pr-16{
    padding-right: 16px;
}

.pr-32{
    padding-right: 32px;
}

.padding-64{
    padding: 64px;
}

/*Containers*/

.container-1200{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-1000{
     max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*Background*/

.bg-hero{
    height: 100vh;
    background:linear-gradient(to right,rgb(220, 234, 26),rgb(0, 0, 0));
}

.bg-hero2{
    height: 100vh;
    background:linear-gradient(to right,#0b0f19,#2c457f);
    
}

.bg-bleu{
    background:linear-gradient(to right,#0b0f19,#2c457f);
}


.bg-bleu-2{
    background:linear-gradient(to right,#0b0f19,#2c457f);
    border-radius: 20px;
    box-shadow:8px 8px 24px #0b0f19;
}

.bg-bleu-3{
    background:whitesmoke;
    border-radius: 20px;
    box-shadow:8px 8px 24px #0b0f19;
}

.bg-bleu-card{
    background:linear-gradient(to right,#0b0f19,#2c457f);
    border-radius: 32px;
    box-shadow:8px 8px 24px #0b0f19;
    
}

box-shadow{
    box-shadow:8px 8px 24px #000000;
}


.bg-green{
    background-color: green;
}

.bg-test{
    background-color: rgb(134, 131, 131);
}

/*Bouton*/

.btn-black{
    background:#38bff878;
    padding: 16px;
    border-radius: 15px;
}

.btn-black:hover{
    background:#38bdf8;
    transform: scale(1.1);
}

.btn-black-2:hover{
    background:#38bdf8;
}

.btn-black-2{
    background:#38bff878;
    padding: 12px;
    border-radius: 8px;
}

/*IMAGE*/

.stack{
    position: relative;
    width: 100%;

}

.img{
    position: absolute;
    width: 100%;
}

.img1{
   width: 100%;

}

.img2{
    width: 100%;
    margin-top: -400px;
    margin-left: 100px;
}

.img3{
    width: 100%;
    margin-top: -380px;
    margin-left: -80px;

}

